<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.googleusercontent.apps.666912208148-r3vfoivimuuu69i1vsho0lbonaldr2kg</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.googleusercontent.apps.666912208148-r3vfoivimuuu69i1vsho0lbonaldr2kg</string>
			</array>
		</dict>
	</array>
	<key>GIDClientID</key>
	<string>666912208148-r3vfoivimuuu69i1vsho0lbonaldr2kg.apps.googleusercontent.com</string>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
	</dict>
	<key>UIAppFonts</key>
	<array>
		<string>Fester_Trial-Bold.otf</string>
		<string>Fester_Trial-BoldItalic.otf</string>
		<string>Fester_Trial-Book.otf</string>
		<string>Fester_Trial-BookItalic.otf</string>
		<string>Fester_Trial-ExtraLight.otf</string>
		<string>Fester_Trial-ExtraLightItalic.otf</string>
		<string>Fester_Trial-Heavy.otf</string>
		<string>Fester_Trial-HeavyItalic.otf</string>
		<string>Fester_Trial-Light.otf</string>
		<string>Fester_Trial-LightItalic.otf</string>
		<string>Fester_Trial-Regular.otf</string>
		<string>Fester_Trial-RegularItalic.otf</string>
		<string>Fester_Trial-SemiBold.otf</string>
		<string>Fester_Trial-SemiBoldItalic.otf</string>
		<string>Fester_Trial-Thin.otf</string>
		<string>Fester_Trial-ThinItalic.otf</string>
	</array>
	<key>UIBackgroundModes</key>
	<array>
		<string>audio</string>
	</array>
</dict>
</plist>
