<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>666912208148-r3vfoivimuuu69i1vsho0lbonaldr2kg.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.666912208148-r3vfoivimuuu69i1vsho0lbonaldr2kg</string>
	<key>API_KEY</key>
	<string>AIzaSyBCCWrdIIwuVytC52qLfbFV-9wmVFNZiNY</string>
	<key>GCM_SENDER_ID</key>
	<string>666912208148</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>viewconroller.MusicAPP</string>
	<key>PROJECT_ID</key>
	<string>musicapp-cc25f</string>
	<key>STORAGE_BUCKET</key>
	<string>musicapp-cc25f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:666912208148:ios:6a1448e644c5df0ab67e01</string>
</dict>
</plist>
